﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/Script/scripts")
    </head>
    <body class="backgroundNoise">
        
        @RenderSection("ImageHelper", false)

        <div id="wrap">
            <div id="main" class="clearfix">
                <div class="absolute-Center is-Fixed">
                    @RenderBody()
                </div>
                
                @RenderSection("ImageLeft", false)
            </div>
        </div>
        
        @Html.Partial("Raiting")

        <div id="footer">
            <a href="@Url.Action("About", "Home")">Зачем это всё нужно?</a>
        </div>
    </body>
</html>
