﻿@model ImageEmotionalStatistics.Models.Shared.UserInfo

@{
    var userName = Model.Name;
    if (String.IsNullOrEmpty(userName))
    {
        userName = "Вы";
    }
}

<tr class="success">
    <td>
        <label style="display: inline;">@userName</label>
        <i class="icon-question-sign" data-toggle="tooltip" title="Вы можете изменить своё имя, кликнув на него"></i>
        <input type="hidden" value="@userName" class="inputName" data-toggle="tooltip" title="Поле сохраняется автоматически"/>
    </td>
    <td>
        @Model.CountAnswers
    </td>
</tr>

<script type="text/javascript">
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });

    $(".success td:first-child").click(function() {
        $(this).find("label").hide().next().hide();
        $(this).find("input").attr("type", "text");
        $(this).find("input").focus();
    });
    
    $(".success input").blur(function () {
        $(this).attr("type", "hidden");
        $(this).parent().find("label").show().next().show();
        saveName($(this));
    });
    $(".success input").keydown(function (e) {
        var c = String.fromCharCode(e.keyCode);
        if (e.keyCode == 13) {
            $(this).blur();
            return;
        }
        if ((c >= 'a' && c <= 'z') || (c >= 'A' && c <= 'Z') || (c >= 'а' && c <= 'я') || (c >= 'А' && c <= 'Я')) {
            saveName($(this));
        }
    });
    
    function saveName(inputElem) {
        var val = inputElem.val();
        inputElem.parent().find("label").text(val);

        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeAuthorName", "Base")",
            data: { "name": val },
            async: false,
            success: function() {
                
            }
        });
    }
</script>