﻿@{
    ViewBag.Title = "BadPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="text-center">Узнай себя</h3>
    Думаю, что вы не должны были видеть эту страницу. 
    <br/>
    Попробуйте перейти обратно на <a class="link-bright" href="@Url.Action("Index", "Home")">главную страницу</a>
</div>