﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <h2>
        Думаю, вы не должны были видеть эту страницу. Если эта страница возникает повторно, пожалуйста, напишите <a href="mailto: ImproveLifeHelp@gmail.com">сюда</a>, чтобы мы могли поправить данную ошибку.
    </h2>
</body>
</html>