﻿@using ImageEmotionalStatistics.Consts
@using ImageEmotionalStatistics.Models.Shared
@{
    var userRaiting = ViewData["Users"] as UserRaiting;
    string authorName = null;
    if (userRaiting != null)
    {
        authorName = String.IsNullOrEmpty(userRaiting.AuthorInfo.Name) ? userRaiting.AuthorInfo.ComputerName : userRaiting.AuthorInfo.Name;
    }
}

@if (userRaiting != null && userRaiting.AuthorInfo.CountAnswers > 0)
{
    <div id="raitingContainer">
        <div class="header">Самые активные</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="max-width: 120px; width: 120px;">Имя <br/>активиста</th>
                    <th style="max-width: 55px; text-align: right;">Количество оценок</th>
                </tr>
            </thead>
            <tbody>
                @{
                    bool wasAuthorInTop = false;
                }
                @foreach (var user in userRaiting.Users.Take(100))
                {
                    string userName = user.Name;
                    if (userName == authorName)
                    {
                        @Html.Partial("AuthorRating", userRaiting.AuthorInfo)
                        wasAuthorInTop = true;
                    }
                    else
                    {
                        <tr>
                            <td>
                                @userName
                            </td>
                            <td>
                                @user.CountAnswers
                            </td>
                        </tr>
                    }
                }
                @if (!wasAuthorInTop)
                {
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    @Html.Partial("AuthorRating", userRaiting.AuthorInfo)
                }
            </tbody>
        </table>
    </div>
}