﻿
@{
    ViewBag.Title = "Зачем всё это нужно";
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    <h3 class="text-center">Зачем всё это нужно</h3>
    <div style="padding-right: 3px;">
        <img src="~/Content/images/me2.jpg" alt="Boris" style="float:left; margin-right: 10px; max-height: 350px;"/>
        <p>
            Привет! Меня зовут Борис Парфененков. Я студент УрФУ, занимаюсь исследованиями в области Computer Vision и Machine Learning. 
            Моя научная работа связана с определением семантических характеристик у цифровых изображений.
            Я занимаюсь данной задачей уже больше двух лет. 
            И на данный момент главной проблемой, с которой мы столкнулись, является отсутствие большой базы изображений, протегированных нужными категориями.
        </p>
        <p>
            К сожалению, в одиночку я этого сделать не могу, поэтому обращаюсь за помощью к тебе, уважаемый пользователь!
            Удели всего 5-10 минут своего времени на то, чтобы помочь в создании полноценной базы, и, возможно, именно благодаря тебе уже скоро компьютеры смогут понимать чувства людей! 
            Мы на пороге величайших открытий - грань между компьютером и человеком постепенно стирается.
        </p>
    </div>
    <p>
        <br/>
        Большое спасибо, что помогаете делать мир лучше! <a href="@Url.Action("Index", "Home")">Вернуться совершать благое дело</a>
    </p>
    <p>
        <br/>
        Если у вас есть полезные идеи по поводу данного проекта, то вы можете <a href="mailto: ImproveLifeHelp@gmail.com">отправить их сюда</a>
    </p>
    <div class="clearfix"></div>
    <div class="mainButton">
        <input type="button" class="btn btn-large text-center" value="Вернуться" onclick="cancel()"/>
    </div>
</div>

<script type="text/javascript">
    function cancel() {
        window.location = '@Url.Action("Index", "Home")';
    }
</script>