﻿@{
    ViewBag.Title = "Improve Life";
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    @*<h3 class="text-center">Оцени изображения</h3>*@
    <div style="margin-top: 60px;">
        <p class="motivationHeader">
            Удели несколько минут своего времени на оценку изображений <br/> по нескольким категориям
        </p>
        <p class="motivationHeader">
            Ты сможешь помочь научить бездушную железяку <br/> распознавать прекрасное!
        </p>
        <p class="motivationHeader">
            Ты поможешь сделать мир будущего лучше!
        </p>
    </div>
    
    <div class="mainButton" style="text-align: center;">
        <input type="button" class="btn btn-large btn-primary text-center" value="Вперед!" onclick="getTest()"/>
    </div>
</div>

@section ImageLeft
{
    <div id="bigImageLeft" class="hide">
        <img src="~/Content/images/indexLeft.png"/>
    </div>
}

<script type="text/javascript">
    function getTest() {
        window.location = "@Url.Action("Index", "ImageTest" )";
    }

    $(function() {
        calculateImageLeftPosition();
    });

    $(window).resize(function() {
        calculateImageLeftPosition();
    });
    
    function calculateImageLeftPosition() {
        var right = 0.93; //hardcore constant, need to fix (1 - right of .absolute-Center)
        var centerWidth = $(".absolute-Center").width();
        var windowWidth = $(window).width();
        var left = ((windowWidth * right - centerWidth) / 2) - 225; //225 - hardcore constant of visible image width
        $("#bigImageLeft").offset({ left: left });
        $("#bigImageLeft").show();
    }
</script>