﻿@using ImageEmotionalStatistics.Consts
@using ImageEmotionalStatistics.Helpers
@model ImageEmotionalStatistics.Models.ImageTestModels.ImageTestModel

@{
    ViewBag.Title = "Классификация изображений";
    Layout = "../Shared/_Layout.cshtml";
}

@section ImageHelper
{
    @{
        const int cntHeroes = 14;
        Random rand = new Random(DateTime.Now.Millisecond);
        int heroNumber = rand.Next(cntHeroes) + 1;
        string heroStringNumber = heroNumber < 10 ? String.Format("0{0}.png", heroNumber) : String.Format("{0}.png", heroNumber);
        bool needHero = false;//rand.Next(3) == 0;
        string positionHero = rand.Next(2) == 0 ? "Left" : "Right";
    }
    @if (needHero)
    {
        <canvas id="canvas" class="messageHero heroImage@(positionHero)"></canvas>
        <p class="hide messageHeroText messageHeroText@(positionHero)" id="messageText">
            Судя по скорости, ты явно устал... Кофе?
        </p>
        <div class="heroImage heroImage@(positionHero)">
            <img id="heroImageSrc" src="~/Content/images/Heroes/@heroStringNumber" alt="hero"/>
        </div>
        
        <script>
            $("#heroImageSrc").on("load", function() {
                var heroHeight = $("#heroImageSrc").height();
                var btm = $("#canvas").css("bottom").split("px")[0] * 1;
                $("#canvas").css("bottom", (btm - (250 - heroHeight)) + "px");
                
                var context = $("#canvas").get(0).getContext('2d');
                context.fillStyle = "rgb(205, 241, 241)";
                drawEllipse(context, 10, 10, 250, 50);
                drawEllipse(context, 100, 70, 50, 10);
                    
                var canvasTop = $("#canvas").css("bottom").split("px")[0] * 1 + $("#canvas").css("height").split("px")[0] * 1;
                $("#messageText").css("bottom", (canvasTop - 100) + "px");
                $("#messageText").show();
            });

            $(function() {
                var imageNumber = "@Session["imageNumber"]" - 1;
                if (imageNumber > 4) {
                    $("#imageCounter").find("span").html(imageNumber);
                    $("#imageCounter").show();
                }
            });
        </script>
    }

    <div id="imageCounter" class="hide">
        Оценено <br/><span></span><br/> изображений!
    </div>
}

<div>
    @*<h3 class="text-center">Изображение @Model.ImageNumber из @Model.MaxImageNumber</h3>*@

    @using (Html.BeginForm("Answer", "ImageTest", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ImageNumber)
        @Html.HiddenFor(m => m.ImageIdInDb)
        <div style="float:left;">
            <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.ImageData)" alt="Изображение" /><br/>
            <a href="javascript://" onclick="location.reload()">Хочу другую картинку</a>
        </div>
        <div class="floatContainer">
            @for (int i = 0; i < Model.SemanticProperties.Count; i++)
            {
                var semanticProperty = Model.SemanticProperties[i];
                var semanticEnumProperties = Enum.GetValues(semanticProperty.TypeOfEnum);
                <div class="semanticPropertyContainer">
                    @foreach (var semanticEnumProperty in semanticEnumProperties)
                    {
                        var enumProperty = (Enum) semanticEnumProperty;
                        var enumPropertyValue = (int) semanticEnumProperty;
                        var idRadio = String.Format("{0}{1}", Html.IdFor(m => m.SemanticProperties[i].Value), enumPropertyValue);
                        
                        
                        @Html.RadioButtonFor(m => m.SemanticProperties[i].Value, enumPropertyValue, new { id = idRadio })
                        @Html.Label(idRadio, enumProperty.Description(), new { @class = "radioClass" })
                    }
                </div>
            }
            <input type="submit" class="btn btn-large btn-primary text-center alignCenter" value="Оценить"/>
        </div>
    }
</div>

<script type="text/javascript">
    $(function() {
        $("input[type=radio]").each(function() {
            if ($(this).val() == "@((int) PositiveNegativeEnum.DontKnow)") {
                $(this).attr("checked", "checked");
            }
        });
    });
</script>