﻿html {
    height: 100%;
}
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    height: 100%;
}

.backgroundNoise {
    background: url("images/noisy-texture.png");
}

.customGradient {
    background: rgb(88,147,129); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(88,147,129,1) 0%, rgba(239,239,239,1) 90%, rgba(242,242,242,1) 90%, rgba(47,109,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,147,129,1)), color-stop(90%,rgba(239,239,239,1)), color-stop(90%,rgba(242,242,242,1)), color-stop(100%,rgba(47,109,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(88,147,129,1) 0%,rgba(239,239,239,1) 90%,rgba(242,242,242,1) 90%,rgba(47,109,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(88,147,129,1) 0%,rgba(239,239,239,1) 90%,rgba(242,242,242,1) 90%,rgba(47,109,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(88,147,129,1) 0%,rgba(239,239,239,1) 90%,rgba(242,242,242,1) 90%,rgba(47,109,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(88,147,129,1) 0%,rgba(239,239,239,1) 90%,rgba(242,242,242,1) 90%,rgba(47,109,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#589381', endColorstr='#2f6d99',GradientType=0 ); /* IE6-9 */
}


header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/*Styles for motivation in index*/
.motivationHeader {
    text-align: center;
    font-size: 24px;
    color: rgb(84, 115, 121);/*darkcyan;*/
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 40px;
}
#bigImageLeft {
    position: fixed;
    top: 15%;
    z-index: 1001;
}

#imageCounter {
    position: fixed;
    top: 12%;
    right: 100px;
    text-align: center;
    color: rgb(57, 70, 94);
    font-weight: bold;
    font-size: 16px;
}
#imageCounter span {
    font-style: italic;
    font-size: 18px;
}

div form {
    padding-top: 35px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.absolute-Center.is-Fixed {
    width: 900px;
    /*height: 80%;*/
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 10%; left: 0; right: 7%; /*в js идет пересчет (картинка)*/
    z-index: 999;
    /*background: white;/*#dddddd;*/
    background: #dddddd;
    background: rgba(221, 221, 221, 0.73);
 /*   background-image: url("images/back.jpg");*/
    padding-left: 12px;
    padding-bottom: 20px;
}

.mainButton {
    position: relative;
    display: block;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.down {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100px;
    margin-left: -50px;
}
.downCenter {
    left: 50%;
}
.alignCenter {
    margin-left: 140px;
    margin-top: 20px;
}
.downRight {
    right: 10px;
}
.downLeft {
    left: 50px;
}
.down .btn-link:hover {
    background: rgba(61, 161, 129, 0.69);
    text-decoration: none;
}

.link-bright {
    color: darkblue;
}

.floatContainer {
    float:right; 
    margin-right: 80px;
    margin-top: 10px;
}

.semanticPropertyContainer {
    margin-top: 25px;
}

.radioClass {
    width: 110px;
}

#wrap {
    height: 100%;
}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 50px;}  /* отступ должен быть равен высоте футера */

#footer {
    position: relative;
	margin-top: -50px; /* отрицательное значение высоты футера */
    margin-left: 20px;
	height: 50px;
	clear:both;
} 

#footer a {
    color: blue;
}

.heroImage {
    /*min-height: 220px;*/
    min-width: 150px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    bottom: 80px;
}
.heroImageLeft {
    left: 80px;
}
.heroImageRight {
    right: 80px;
}

.messageHero {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 200px;
}

.messageHeroText {
    max-width: 150px;
    position: absolute;
    bottom: 350px;
    font-size: 16px;
    text-align: center;
}

.messageHeroTextLeft {
    left: 120px;
}

.messageHeroTextRight {
    right: 140px;
}

#raitingContainer {
    position: absolute;
    width: 15%;
    top: 10%;
    right: 2%;
    padding: 0px 10px 0px 10px;
    background: #aee4f5;
    background: rgba(174, 228, 245, 0.41);
}

#raitingContainer table {
    border-color: black;
}

#raitingContainer tbody td:first-child {
    font-style: italic;
}
#raitingContainer tbody td:nth-child(even) {
    font-weight: bold;
    text-align: right;
}

#raitingContainer .success td:first-child:hover {
    cursor: pointer;
}

#raitingContainer .header {
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}

#raitingContainer thead th {
    font-weight: normal;
}

#raitingContainer tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
    background-color: rgba(249, 249, 249, 0.65);
}

#raitingContainer tbody tr.success td {
    background-color: #a2e2ac;
    background-color: rgba(162, 226, 172, 0.75);
}

#raitingContainer tbody td {
    border-top: 0;
}

.inputName {
    width: 130px;
}